openapi: "3.0.0"
info:
  version: 1.0.0
  title: Wild Devs API
  description: | 
    High Performance & High Security API by [Wild-Devs](https://wild-devs.net). 

    This API is open for everyone without providing any api-key, but includes member and subscriber endpoints. For those you need an api-key to query the desired endpoints, they are also marked with a lock in this API documentation.

    You can [sign up](https://wild-devs.net/register) and generate own api key for free, which also increases your rate-limit.
    
    To communicate with our api, you must combine your "key" with your "secret" separated by a colon and encode it with base64.
    Provide the base64 string as `x-api-key` with the request header.

    ---
    <h3>Rate-Limits</h3>
    | Scope                   | Limit                 |
    |-------------------------|-----------------------|
    | Public                  | 100 requests / 24h    |
    | Member                  | 300 requests / 24h    |
    | Subscriber: Silver      | 2.500 requests / 24h  |
    | Subscriber: Gold        | 6.000 requests / 24h  |
    | Subscriber: Platinum    | 18.000 requests / 24h |
    ---
    Every endpoint will report the current state of your rate. Following information can be found in the response header:
      - x-ratelimit-retry-after
      - x-ratelimit-limit
      - x-ratelimit-remaining
      - x-ratelimit-reset
    ---
    All responses are in `JSON` format, **subscribers** also can get them in `XML` format. Just add `xml` as query parameter to the request url.
    E.g. `https://api.wild-devs.net/v1/geoip/37.120.190.250?xml`
    ---
  contact:
    name: API Support
    url: https://help.wild-devs.net/
    email: support@wild-devs.net
servers:
  - url: https://api.wild-devs.net/v1
    description: API Production Server
paths:
# Conversion
  /currency:
    $ref: "./resources/conversion/currency/post.yaml"
  /unit:
    $ref: "./resources/conversion/unit/post.yaml"
# Games
  /epicgames/free:
    $ref: "./resources/games/epicgames/get.yaml"
# Random
  /string:
    $ref: "./resources/random/string/post.yaml"
  /number:
    $ref: "./resources/random/number/post.yaml"
# UrlShortener
  /urlshorteners:
    $ref: "./resources/urlshortener/get.yaml"
  /urlshortener:
    $ref: "./resources/urlshortener/post.yaml"
  /urlshortener/{id}:
    $ref: "./resources/urlshortener/delete.yaml"
# Utils
  /compile:
    $ref: "./resources/utils/compile/post.yaml"
  /decode:
    $ref: "./resources/utils/decode/post.yaml"
  /encode:
    $ref: "./resources/utils/encode/post.yaml"
  /geoip/{ip}:
    $ref: "./resources/utils/geoip/post.yaml"
  /hash:
    $ref: "./resources/utils/hash/post.yaml"
  /qrcode:
    $ref: "./resources/utils/qrcode/post.yaml"
# Validation
  /bic:
    $ref: "./resources/validation/bic/post.yaml"
  /btc:
    $ref: "./resources/validation/btc/post.yaml"
  /creditcard:
    $ref: "./resources/validation/creditcard/post.yaml"
  /ean:
    $ref: "./resources/validation/ean/post.yaml"
  /email:
    $ref: "./resources/validation/email/post.yaml"
  /eth:
    $ref: "./resources/validation/eth/post.yaml"
  /fqdn:
    $ref: "./resources/validation/fqdn/post.yaml"
  /iban:
    $ref: "./resources/validation/iban/post.yaml"
  /identitycard:
    $ref: "./resources/validation/identitycard/post.yaml"
  /imei:
    $ref: "./resources/validation/imei/post.yaml"
  /ip:
    $ref: "./resources/validation/ip/post.yaml"
  /isbn:
    $ref: "./resources/validation/isbn/post.yaml"
  /isin:
    $ref: "./resources/validation/isin/post.yaml"
  /issn:
    $ref: "./resources/validation/issn/post.yaml"
  /licenseplate:
    $ref: "./resources/validation/licenseplate/post.yaml"
  /mac:
    $ref: "./resources/validation/mac/post.yaml"
  /magnet:
    $ref: "./resources/validation/magnet/post.yaml"
  /mimetype:
    $ref: "./resources/validation/mimetype/post.yaml"
  /password:
    $ref: "./resources/validation/password/post.yaml"
  /postalcode:
    $ref: "./resources/validation/postalcode/post.yaml"
  /semver:
    $ref: "./resources/validation/semver/post.yaml"
  /tax:
    $ref: "./resources/validation/tax/post.yaml"
  /uuid:
    $ref: "./resources/validation/uuid/post.yaml"
components:
  securitySchemes:
    $ref: "./schemas/security.yaml"