openapi: 3.0.0
info:
  version: 1.0.1
  title: Wild Devs API
  description: |
    High Performance & High Security API by [Wild-Devs](https://wild-devs.net). 

    <h3>API For Everyone</h3>
    <div style="border: 1px dashed grey; padding: 10px; background-color: #f0f0f0;">
      This API is open for everyone without providing any api-key, but also includes member and subscriber endpoints. For those you need an api-key to query the desired endpoints, they are also marked with a lock in this API documentation.

      You can <a href='https://wild-devs.net/register' target='_blank'>sign up</a> and generate own api key for free, which also increases your rate-limit.
      
      To communicate with some endpoints of our api, you must combine your "key" with your "secret" separated by a colon and encode it with base64. Provide the base64 string as `x-api-key` with the request header.
    </div>

    <h3>Rate-Limits</h3>
    <div style="border: 1px dashed grey; padding: 10px; background-color: #f0f0f0;">
      A rate limit is the number of API calls an app or user can make within a given time period. If this limit is exceeded or if CPU or total time limits are exceeded, the app or user may be throttled. API requests made by a throttled user or app will fail. All API requests are subject to rate limits.
      Our rates are quite fair and divided into 3 categories.

      **All limits last 24h, starting from the first request**

      - Public: **100** requests
      - Member: **300** requests
      - Subscriber: Silver: **2.500** requests
      - Subscriber: Gold: **6.000** requests
      - Subscriber: Platinum: **18.000** requests

      Every endpoint will report the current state of your rate. Following information can be found in the response header:
      
      - x-ratelimit-retry-after
      - x-ratelimit-limit
      - x-ratelimit-remaining
      - x-ratelimit-reset
    </div>

    <h3>Response Formats</h3>
    <div style="border: 1px dashed grey; padding: 10px; background-color: #f0f0f0;">
      We support two response formats:

      In general, all responses are in `JSON` format, **subscribers** also can get them in `XML` format. Just add `xml` as query parameter to the request url.
      
      Example: `https://api.wild-devs.net/v1/geoip/37.120.190.250?xml`
    </div>

    <h3>Support</h3>
    <div style="border: 1px dashed grey; padding: 10px; background-color: #f0f0f0;">
      If you need any support, you can join our <a href='https://discord.wild-devs.net' target='_blank'>Discord</a>. Here, you can connect with other developers who are also using our API and get help with any issues you may be experiencing. Our community is full of knowledgeable developers who are eager to share their expertise and help you succeed. Of course we also offer support via <a href='mailto:support@wild-devs.net'>email</a> or our <a href='https://help.wild-devs.net' target='_blank'>support ticket center</a> and are available to answer your questions.
    </div>
  contact:
    name: API Support
    url: 'https://help.wild-devs.net/'
    email: support@wild-devs.net
servers:
  - url: 'https://api.wild-devs.net/v1'
    description: API Production Server
paths:
  /dictionary:
    post:
      summary: Describes a given word for a desired language
      operationId: dictionary
      description: |
        `Subscriber` Only Endpoint. API-Key is needed. This endpoint consumes AI tokens (depends on the output length).

        Provide a word + language and the AI will describe the word. The output is in the same language as the word.

        Supported languages:
        ```
        Afrikaans
        Albanian
        Arabic
        Armenian
        Assamese
        Azerbaijani
        Basque
        Belarusian
        Bengali
        Bosnian
        Bulgarian
        Burmese
        Cantonese
        Catalan
        Cebuano
        Chichewa
        Chinese
        Corsican
        Croatian
        Czech
        Danish
        Dutch
        English
        Esperanto
        Estonian
        Filipino
        Finnish
        French
        Frisian
        Galician
        Georgian
        German
        Greek
        Gujarati
        Haitian Creole
        Hausa
        Hawaiian
        Hebrew
        Hindi
        Hmong
        Hungarian
        Icelandic
        Igbo
        Indonesian
        Irish
        Italian
        Japanese
        Javanese
        Kannada
        Kazakh
        Khmer
        Kinyarwanda
        Korean
        Kurdish
        Kyrgyz
        Lao
        Latin
        Latvian
        Lithuanian
        Luxembourgish
        Macedonian
        Malagasy
        Malay
        Malayalam
        Maltese
        Maori
        Marathi
        Mongolian
        Myanmar
        Nepali
        Norwegian
        Nyanja
        Odia
        Pashto
        Persian
        Polish
        Portuguese
        Punjabi
        Romanian
        Russian
        Samoan
        Scots Gaelic
        Serbian
        Sesotho
        Shona
        Sindhi
        Sinhala
        Slovak
        Slovenian
        Somali
        Spanish
        Sundanese
        Swahili
        Swedish
        Tajik
        Tamil
        Tatar
        Telugu
        Thai
        Turkish
        Turkmen
        Ukrainian
        Urdu
        Uyghur
        Uzbek
        Vietnamese
        Welsh
        Xhosa
        Yiddish
        Yoruba
        Zulu
        ```
      tags:
        - AI
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                word:
                  type: string
                  description: 'Any word, no phrase!'
                  example: Car
                language:
                  type: string
                  description: Choose one of the over 100 supported languages. The word should be in the same language.
                  example: English
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /synonyms:
    post:
      summary: Finds synonyms for the given word
      operationId: synonyms
      description: |
        `Subscriber` Only Endpoint. API-Key is needed. This endpoint consumes AI tokens (depends on the output length).

        Provide a word + language and the AI will find synonyms for the word. The output is in the same language as the word.

        Supported languages:
        ```
        Afrikaans
        Albanian
        Arabic
        Armenian
        Assamese
        Azerbaijani
        Basque
        Belarusian
        Bengali
        Bosnian
        Bulgarian
        Burmese
        Cantonese
        Catalan
        Cebuano
        Chichewa
        Chinese
        Corsican
        Croatian
        Czech
        Danish
        Dutch
        English
        Esperanto
        Estonian
        Filipino
        Finnish
        French
        Frisian
        Galician
        Georgian
        German
        Greek
        Gujarati
        Haitian Creole
        Hausa
        Hawaiian
        Hebrew
        Hindi
        Hmong
        Hungarian
        Icelandic
        Igbo
        Indonesian
        Irish
        Italian
        Japanese
        Javanese
        Kannada
        Kazakh
        Khmer
        Kinyarwanda
        Korean
        Kurdish
        Kyrgyz
        Lao
        Latin
        Latvian
        Lithuanian
        Luxembourgish
        Macedonian
        Malagasy
        Malay
        Malayalam
        Maltese
        Maori
        Marathi
        Mongolian
        Myanmar
        Nepali
        Norwegian
        Nyanja
        Odia
        Pashto
        Persian
        Polish
        Portuguese
        Punjabi
        Romanian
        Russian
        Samoan
        Scots Gaelic
        Serbian
        Sesotho
        Shona
        Sindhi
        Sinhala
        Slovak
        Slovenian
        Somali
        Spanish
        Sundanese
        Swahili
        Swedish
        Tajik
        Tamil
        Tatar
        Telugu
        Thai
        Turkish
        Turkmen
        Ukrainian
        Urdu
        Uyghur
        Uzbek
        Vietnamese
        Welsh
        Xhosa
        Yiddish
        Yoruba
        Zulu
        ```
      tags:
        - AI
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                word:
                  type: string
                  description: 'Any word, no phrase!'
                  example: Car
                language:
                  type: string
                  description: Choose one of the over 100 supported languages. The word should be in the same language.
                  example: English
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /currency:
    post:
      summary: Convert an amount from one currency to another currency
      operationId: currency
      description: |
        `Subscriber` Only Endpoint. API-Key is needed.

        Supported currencies:
        ```
        AED (United Arab Emirates Dirham)
        AFN (Afghan Afghani)
        ALL (Albanian Lek)
        AMD (Armenian Dram)
        ANG (Netherlands Antillean Guilder)
        AOA (Angolan Kwanza)
        ARS (Argentine Peso)
        AUD (Australian Dollar)
        AWG (Aruban Florin)
        AZN (Azerbaijani Manat)
        BAM (Bosnia-Herzegovina Convertible Mark)
        BBD (Barbadian Dollar)
        BDT (Bangladeshi Taka)
        BGN (Bulgarian Lev)
        BHD (Bahraini Dinar)
        BIF (Burundian Franc)
        BMD (Bermudan Dollar)
        BND (Brunei Dollar)
        BOB (Bolivian Boliviano)
        BRL (Brazilian Real)
        BSD (Bahamian Dollar)
        BTC (Bitcoin)
        BTN (Bhutanese Ngultrum)
        BWP (Botswanan Pula)
        BYN (Belarusian Ruble)
        BZD (Belize Dollar)
        CAD (Canadian Dollar)
        CDF (Congolese Franc)
        CHF (Swiss Franc)
        CLF (Chilean Unit of Account (UF))
        CLP (Chilean Peso)
        CNH (Chinese Yuan (Offshore))
        CNY (Chinese Yuan)
        COP (Colombian Peso)
        CRC (Costa Rican Colón)
        CUC (Cuban Convertible Peso)
        CUP (Cuban Peso)
        CVE (Cape Verdean Escudo)
        CZK (Czech Republic Koruna)
        DJF (Djiboutian Franc)
        DKK (Danish Krone)
        DOP (Dominican Peso)
        DZD (Algerian Dinar)
        EGP (Egyptian Pound)
        ERN (Eritrean Nakfa)
        ETB (Ethiopian Birr)
        EUR (Euro)
        FJD (Fijian Dollar)
        FKP (Falkland Islands Pound)
        GBP (British Pound Sterling)
        GEL (Georgian Lari)
        GGP (Guernsey Pound)
        GHS (Ghanaian Cedi)
        GIP (Gibraltar Pound)
        GMD (Gambian Dalasi)
        GNF (Guinean Franc)
        GTQ (Guatemalan Quetzal)
        GYD (Guyanaese Dollar)
        HKD (Hong Kong Dollar)
        HNL (Honduran Lempira)
        HRK (Croatian Kuna)
        HTG (Haitian Gourde)
        HUF (Hungarian Forint)
        IDR (Indonesian Rupiah)
        ILS (Israeli New Sheqel)
        IMP (Manx pound)
        INR (Indian Rupee)
        IQD (Iraqi Dinar)
        IRR (Iranian Rial)
        ISK (Icelandic Króna)
        JEP (Jersey Pound)
        JMD (Jamaican Dollar)
        JOD (Jordanian Dinar)
        JPY (Japanese Yen)
        KES (Kenyan Shilling)
        KGS (Kyrgystani Som)
        KHR (Cambodian Riel)
        KMF (Comorian Franc)
        KPW (North Korean Won)
        KRW (South Korean Won)
        KWD (Kuwaiti Dinar)
        KYD (Cayman Islands Dollar)
        KZT (Kazakhstani Tenge)
        LAK (Laotian Kip)
        LBP (Lebanese Pound)
        LKR (Sri Lankan Rupee)
        LRD (Liberian Dollar)
        LSL (Lesotho Loti)
        LYD (Libyan Dinar)
        MAD (Moroccan Dirham)
        MDL (Moldovan Leu)
        MGA (Malagasy Ariary)
        MKD (Macedonian Denar)
        MMK (Myanma Kyat)
        MNT (Mongolian Tugrik)
        MOP (Macanese Pataca)
        MRO (Mauritanian Ouguiya (pre-2018))
        MRU (Mauritanian Ouguiya)
        MUR (Mauritian Rupee)
        MVR (Maldivian Rufiyaa)
        MWK (Malawian Kwacha)
        MXN (Mexican Peso)
        MYR (Malaysian Ringgit)
        MZN (Mozambican Metical)
        NAD (Namibian Dollar)
        NGN (Nigerian Naira)
        NIO (Nicaraguan Córdoba)
        NOK (Norwegian Krone)
        NPR (Nepalese Rupee)
        NZD (New Zealand Dollar)
        OMR (Omani Rial)
        PAB (Panamanian Balboa)
        PEN (Peruvian Nuevo Sol)
        PGK (Papua New Guinean Kina)
        PHP (Philippine Peso)
        PKR (Pakistani Rupee)
        PLN (Polish Zloty)
        PYG (Paraguayan Guarani)
        QAR (Qatari Rial)
        RON (Romanian Leu)
        RSD (Serbian Dinar)
        RUB (Russian Ruble)
        RWF (Rwandan Franc)
        SAR (Saudi Riyal)
        SBD (Solomon Islands Dollar)
        SCR (Seychellois Rupee)
        SDG (Sudanese Pound)
        SEK (Swedish Krona)
        SGD (Singapore Dollar)
        SHP (Saint Helena Pound)
        SLL (Sierra Leonean Leone)
        SOS (Somali Shilling)
        SRD (Surinamese Dollar)
        SSP (South Sudanese Pound)
        STD (São Tomé and Príncipe Dobra (pre-2018))
        STN (São Tomé and Príncipe Dobra)
        SVC (Salvadoran Colón)
        SYP (Syrian Pound)
        SZL (Swazi Lilangeni)
        THB (Thai Baht)
        TJS (Tajikistani Somoni)
        TMT (Turkmenistani Manat)
        TND (Tunisian Dinar)
        TOP (Tongan Paanga)
        TRY (Turkish Lira)
        TTD (Trinidad and Tobago Dollar)
        TWD (New Taiwan Dollar)
        TZS (Tanzanian Shilling)
        UAH (Ukrainian Hryvnia)
        UGX (Ugandan Shilling)
        USD (United States Dollar)
        UYU (Uruguayan Peso)
        UZS (Uzbekistan Som)
        VEF (Venezuelan Bolívar Fuerte (Old))
        VES (Venezuelan Bolívar Soberano)
        VND (Vietnamese Dong)
        VUV (Vanuatu Vatu)
        WST (Samoan Tala)
        XAF (CFA Franc BEAC)
        XAG (Silver Ounce)
        XAU (Gold Ounce)
        XCD (East Caribbean Dollar)
        XDR (Special Drawing Rights)
        XOF (CFA Franc BCEAO)
        XPD (Palladium Ounce)
        XPF (CFP Franc)
        XPT (Platinum Ounce)
        YER (Yemeni Rial)
        ZAR (South African Rand)
        ZMW (Zambian Kwacha)
        ZWL (Zimbabwean Dollar)
        ```
      tags:
        - Conversion
      security:
        - ApiKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  example: USD
                to:
                  type: string
                  example: EUR
                amount:
                  type: number
                  format: float
                  example: 192.47
              required:
                - from
                - to
                - amount
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          rate:
                            type: number
                            format: float
                          date:
                            type: string
                            format: YYYY-MM-DD
                          result:
                            type: number
                            format: float
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /unit:
    post:
      summary: Random Number Generator
      operationId: unit
      description: |
        `Subscriber` Only Endpoint. API-Key is needed.

        Supported units are:

        **Length**
        ```
        mm, cm, m, in, ft-us, ft, mi
        ```

        **Area**
        ```
        mm2, cm2, m2, ha, km2, in2, ft2, ac, mi2
        ```

        **Mass**
        ```
        mcg, mg, g, kg, oz, lb, mt, t
        ```

        **Volume** 
        ```
        mm3, cm3, ml, l, kl, m3, km3, tsp, Tbs, in3, fl-oz, cup, pnt, qt, gal, ft3, yd3
        ```

        **Volume Flow Rate**
        ```
        mm3/s, cm3/s, ml/s, cl/s, dl/s, l/s, l/min, l/h, kl/s, kl/min, kl/h, m3/s, m3/min, m3/h, km3/s, tsp/s, Tbs/s, in3/s, in3/min, in3/h, fl-oz/s, fl-oz/min, fl-oz/h, cup/s, pnt/s, pnt/min, pnt/h, qt/s, gal/s, gal/min, gal/h, ft3/s, ft3/min, ft3/h, yd3/s, yd3/min, yd3/h
        ```

        **Temperature**
        ```
        C, F, K, R
        ```

        **Time**
        ```
        ns, mu, ms, s, min, h, d, week, month, year
        ```

        **Frequency**
        ```
        Hz, mHz, kHz, MHz, GHz, THz, rpm, deg/s, rad/s
        ```

        **Speed**
        ```
        m/s, km/h, m/h, knot, ft/s
        ```

        **Pace**
        ```
        s/m, min/km, s/ft, min/km
        ```

        **Pressure**
        ```
        Pa, hPa, kPa, MPa, bar, torr, psi, ksi
        ```

        **Digital**
        ```
        b, Kb, Mb, Gb, Tb, B, KB, MB, GB, TB
        ```

        **Illuminance**
        ```
        lx, ft-cd
        ```

        **Parts-Per**
        ```
        ppm, ppb, ppt, ppq
        ```

        **Voltage**
        ```
        V, mV, kV
        ```

        **Current**
        ```
        A, mA, kA
        ```

        **Power**
        ```
        W, mW, kW, MW, GW
        ```

        **Apparent Power**
        ```
        VA, mVA, kVA, MVA, GVA
        ```

        **Reactive Power**
        ```
        VAR, mVAR, kVAR, MVAR, GVAR
        ```

        **Energy**
        ```
        Wh, mWh, kWh, MWh, GWh, J, kJ
        ```

        **Reactive Energy**
        ```
        VARh, mVARh, kVARh, MVARh, GVARh
        ```

        **Angle**
        ```
        deg, rad, grad, arcmin, arcsec
        ```
      tags:
        - Conversion
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  example: m/s
                to:
                  type: string
                  example: m/h
                amount:
                  type: number
                  format: float
                  example: 10.65
              required:
                - from
                - to
                - amount
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: integer
                        format: int32
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /epicgames/free:
    get:
      summary: Gets the current and next weeks free games
      operationId: getEpicGamesFree
      description: |
        `Subscriber` Only Endpoint. API-Key is needed.
      tags:
        - Games
      security:
        - ApiKey: []
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          currentWeek:
                            type: array
                            items:
                              type: object
                              properties:
                                title:
                                  type: string
                                description:
                                  type: string
                                type:
                                  type: string
                                startDate:
                                  type: string
                                  format: date-time
                                endDate:
                                  type: string
                                  format: date-time
                          nextWeek:
                            type: array
                            items:
                              type: object
                              properties:
                                title:
                                  type: string
                                description:
                                  type: string
                                type:
                                  type: string
                                startDate:
                                  type: string
                                  format: date-time
                                endDate:
                                  type: string
                                  format: date-time
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /address:
    get:
      summary: Provides address related mockup data
      operationId: getMockupAddress
      description: |
        Generates address mockup data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: locale
          description: |
            Supported locales:
            <table><thead><tr><th style="text-align:left;">Locale</th><th style="text-align:left;">Name</th></tr></thead><tbody><tr><td style="text-align:left;">af_ZA</td><td style="text-align:left;">Afrikaans</td></tr><tr><td style="text-align:left;">ar</td><td style="text-align:left;">Arabic</td></tr><tr><td style="text-align:left;">az</td><td style="text-align:left;">Azerbaijani</td></tr><tr><td style="text-align:left;">cz</td><td style="text-align:left;">Czech</td></tr><tr><td style="text-align:left;">de</td><td style="text-align:left;">German</td></tr><tr><td style="text-align:left;">de_AT</td><td style="text-align:left;">German (Austria)</td></tr><tr><td style="text-align:left;">de_CH</td><td style="text-align:left;">German (Switzerland)</td></tr><tr><td style="text-align:left;">el</td><td style="text-align:left;">Greek</td></tr><tr><td style="text-align:left;">en</td><td style="text-align:left;">English</td></tr><tr><td style="text-align:left;">en_AU</td><td style="text-align:left;">English (Australia)</td></tr><tr><td style="text-align:left;">en_AU_ocker</td><td style="text-align:left;">English (Australia Ocker)</td></tr><tr><td style="text-align:left;">en_BORK</td><td style="text-align:left;">English (Bork)</td></tr><tr><td style="text-align:left;">en_CA</td><td style="text-align:left;">English (Canada)</td></tr><tr><td style="text-align:left;">en_GB</td><td style="text-align:left;">English (Great Britain)</td></tr><tr><td style="text-align:left;">en_GH</td><td style="text-align:left;">English (Ghana)</td></tr><tr><td style="text-align:left;">en_IE</td><td style="text-align:left;">English (Ireland)</td></tr><tr><td style="text-align:left;">en_IND</td><td style="text-align:left;">English (India)</td></tr><tr><td style="text-align:left;">en_NG</td><td style="text-align:left;">Nigeria (English)</td></tr><tr><td style="text-align:left;">en_US</td><td style="text-align:left;">English (United States)</td></tr><tr><td style="text-align:left;">en_ZA</td><td style="text-align:left;">English (South Africa)</td></tr><tr><td style="text-align:left;">es</td><td style="text-align:left;">Spanish</td></tr><tr><td style="text-align:left;">es_MX</td><td style="text-align:left;">Spanish (Mexico)</td></tr><tr><td style="text-align:left;">fa</td><td style="text-align:left;">Farsi</td></tr><tr><td style="text-align:left;">fi</td><td style="text-align:left;">Finnish</td></tr><tr><td style="text-align:left;">fr</td><td style="text-align:left;">French</td></tr><tr><td style="text-align:left;">fr_BE</td><td style="text-align:left;">Français (Belgique)</td></tr><tr><td style="text-align:left;">fr_CA</td><td style="text-align:left;">French (Canada)</td></tr><tr><td style="text-align:left;">fr_CH</td><td style="text-align:left;">French (Switzerland)</td></tr><tr><td style="text-align:left;">ge</td><td style="text-align:left;">Georgian</td></tr><tr><td style="text-align:left;">he</td><td style="text-align:left;">Hebrew</td></tr><tr><td style="text-align:left;">hr</td><td style="text-align:left;">Hrvatski</td></tr><tr><td style="text-align:left;">hu</td><td style="text-align:left;">Hungarian</td></tr><tr><td style="text-align:left;">hy</td><td style="text-align:left;">Armenian</td></tr><tr><td style="text-align:left;">id_ID</td><td style="text-align:left;">Indonesian</td></tr><tr><td style="text-align:left;">it</td><td style="text-align:left;">Italian</td></tr><tr><td style="text-align:left;">ja</td><td style="text-align:left;">Japanese</td></tr><tr><td style="text-align:left;">ko</td><td style="text-align:left;">Korean</td></tr><tr><td style="text-align:left;">lv</td><td style="text-align:left;">Latvian</td></tr><tr><td style="text-align:left;">mk</td><td style="text-align:left;">Macedonian</td></tr><tr><td style="text-align:left;">nb_NO</td><td style="text-align:left;">Norwegian</td></tr><tr><td style="text-align:left;">ne</td><td style="text-align:left;">Nepalese</td></tr><tr><td style="text-align:left;">nl</td><td style="text-align:left;">Dutch</td></tr><tr><td style="text-align:left;">nl_BE</td><td style="text-align:left;">Dutch (Belgium)</td></tr><tr><td style="text-align:left;">pl</td><td style="text-align:left;">Polish</td></tr><tr><td style="text-align:left;">pt_BR</td><td style="text-align:left;">Portuguese (Brazil)</td></tr><tr><td style="text-align:left;">pt_PT</td><td style="text-align:left;">Portuguese (Portugal)</td></tr><tr><td style="text-align:left;">ro</td><td style="text-align:left;">Romanian</td></tr><tr><td style="text-align:left;">ru</td><td style="text-align:left;">Russian</td></tr><tr><td style="text-align:left;">sk</td><td style="text-align:left;">Slovakian</td></tr><tr><td style="text-align:left;">sv</td><td style="text-align:left;">Swedish</td></tr><tr><td style="text-align:left;">tr</td><td style="text-align:left;">Turkish</td></tr><tr><td style="text-align:left;">uk</td><td style="text-align:left;">Ukrainian</td></tr><tr><td style="text-align:left;">ur</td><td style="text-align:left;">Urdu</td></tr><tr><td style="text-align:left;">vi</td><td style="text-align:left;">Vietnamese</td></tr><tr><td style="text-align:left;">zh_CN</td><td style="text-align:left;">Chinese</td></tr><tr><td style="text-align:left;">zh_TW</td><td style="text-align:left;">Chinese (Taiwan)</td></tr><tr><td style="text-align:left;">zu_ZA</td><td style="text-align:left;">Zulu (South Africa)</td></tr></tbody></table>
          required: false
          schema:
            type: string
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive an array of objects instead of a single object..

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          city:
                            type: string
                          country:
                            type: string
                          countryCode:
                            type: string
                          county:
                            type: string
                          state:
                            type: string
                          street:
                            type: string
                          zipCode:
                            type: string
                          timeZone:
                            type: string
                          latitude:
                            type: string
                          longitude:
                            type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /company:
    get:
      summary: Provides company related mockup data
      operationId: getMockupCompany
      description: |
        Generates company mockup data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive an array of objects instead of a single object..

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          name:
                            type: string
                          suffix:
                            type: string
                          catchPhrase:
                            type: string
                          bsPhrase:
                            type: string
                            description: business service phrase
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /finance:
    get:
      summary: Provides finance related mockup data
      operationId: getMockupFinance
      description: |
        Generates finance mockup data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive an array of objects instead of a single object..

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          bank:
                            type: object
                            properties:
                              name:
                                type: string
                              number:
                                type: string
                              credit:
                                type: string
                              currency:
                                type: string
                              bic:
                                type: string
                              iban:
                                type: string
                              pin:
                                type: string
                          crypto:
                            type: object
                            properties:
                              bitcoinAddress:
                                type: string
                              ethereumAddress:
                                type: string
                              litecoinAddress:
                                type: string
                          creditCard:
                            type: object
                            properties:
                              issuer:
                                type: string
                              number:
                                type: string
                              cvv:
                                type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /git:
    get:
      summary: Provides git related mockup data
      operationId: getMockupGit
      description: |
        Generates git data mockup with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive an array of objects instead of a single object..

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          branch:
                            type: string
                          commitEntry:
                            type: string
                          commitMessage:
                            type: string
                          commitShaLong:
                            type: string
                          commitShaShort:
                            type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /internet:
    get:
      summary: Provides internet related mockup data
      operationId: getMockupInternet
      description: |
        Generates internet mockup data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive an array of objects instead of a single object..

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          domain:
                            type: string
                          tld:
                            type: string
                          email:
                            type: string
                          emoji:
                            type: string
                          protocol:
                            type: string
                          url:
                            type: string
                          httpMethod:
                            type: string
                          httpStatusCode:
                            type: string
                          userAgent:
                            type: string
                          ipv4:
                            type: string
                          ipv6:
                            type: string
                          mac:
                            type: string
                          port:
                            type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /product:
    get:
      summary: Provides product related mockup data
      operationId: getMockupProduct
      description: |
        Generates product mockup data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive an array of objects instead of a single object..

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          product:
                            type: string
                          name:
                            type: string
                          description:
                            type: string
                          material:
                            type: string
                          color:
                            type: string
                          department:
                            type: string
                          price:
                            type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /user:
    get:
      summary: Provides user related mockup data
      operationId: getMockupUser
      description: |
        Generates user mockup data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: locale
          description: |
            Supported locales:
            <table><thead><tr><th style="text-align:left;">Locale</th><th style="text-align:left;">Name</th></tr></thead><tbody><tr><td style="text-align:left;">af_ZA</td><td style="text-align:left;">Afrikaans</td></tr><tr><td style="text-align:left;">ar</td><td style="text-align:left;">Arabic</td></tr><tr><td style="text-align:left;">az</td><td style="text-align:left;">Azerbaijani</td></tr><tr><td style="text-align:left;">cz</td><td style="text-align:left;">Czech</td></tr><tr><td style="text-align:left;">de</td><td style="text-align:left;">German</td></tr><tr><td style="text-align:left;">de_AT</td><td style="text-align:left;">German (Austria)</td></tr><tr><td style="text-align:left;">de_CH</td><td style="text-align:left;">German (Switzerland)</td></tr><tr><td style="text-align:left;">el</td><td style="text-align:left;">Greek</td></tr><tr><td style="text-align:left;">en</td><td style="text-align:left;">English</td></tr><tr><td style="text-align:left;">en_AU</td><td style="text-align:left;">English (Australia)</td></tr><tr><td style="text-align:left;">en_AU_ocker</td><td style="text-align:left;">English (Australia Ocker)</td></tr><tr><td style="text-align:left;">en_BORK</td><td style="text-align:left;">English (Bork)</td></tr><tr><td style="text-align:left;">en_CA</td><td style="text-align:left;">English (Canada)</td></tr><tr><td style="text-align:left;">en_GB</td><td style="text-align:left;">English (Great Britain)</td></tr><tr><td style="text-align:left;">en_GH</td><td style="text-align:left;">English (Ghana)</td></tr><tr><td style="text-align:left;">en_IE</td><td style="text-align:left;">English (Ireland)</td></tr><tr><td style="text-align:left;">en_IND</td><td style="text-align:left;">English (India)</td></tr><tr><td style="text-align:left;">en_NG</td><td style="text-align:left;">Nigeria (English)</td></tr><tr><td style="text-align:left;">en_US</td><td style="text-align:left;">English (United States)</td></tr><tr><td style="text-align:left;">en_ZA</td><td style="text-align:left;">English (South Africa)</td></tr><tr><td style="text-align:left;">es</td><td style="text-align:left;">Spanish</td></tr><tr><td style="text-align:left;">es_MX</td><td style="text-align:left;">Spanish (Mexico)</td></tr><tr><td style="text-align:left;">fa</td><td style="text-align:left;">Farsi</td></tr><tr><td style="text-align:left;">fi</td><td style="text-align:left;">Finnish</td></tr><tr><td style="text-align:left;">fr</td><td style="text-align:left;">French</td></tr><tr><td style="text-align:left;">fr_BE</td><td style="text-align:left;">Français (Belgique)</td></tr><tr><td style="text-align:left;">fr_CA</td><td style="text-align:left;">French (Canada)</td></tr><tr><td style="text-align:left;">fr_CH</td><td style="text-align:left;">French (Switzerland)</td></tr><tr><td style="text-align:left;">ge</td><td style="text-align:left;">Georgian</td></tr><tr><td style="text-align:left;">he</td><td style="text-align:left;">Hebrew</td></tr><tr><td style="text-align:left;">hr</td><td style="text-align:left;">Hrvatski</td></tr><tr><td style="text-align:left;">hu</td><td style="text-align:left;">Hungarian</td></tr><tr><td style="text-align:left;">hy</td><td style="text-align:left;">Armenian</td></tr><tr><td style="text-align:left;">id_ID</td><td style="text-align:left;">Indonesian</td></tr><tr><td style="text-align:left;">it</td><td style="text-align:left;">Italian</td></tr><tr><td style="text-align:left;">ja</td><td style="text-align:left;">Japanese</td></tr><tr><td style="text-align:left;">ko</td><td style="text-align:left;">Korean</td></tr><tr><td style="text-align:left;">lv</td><td style="text-align:left;">Latvian</td></tr><tr><td style="text-align:left;">mk</td><td style="text-align:left;">Macedonian</td></tr><tr><td style="text-align:left;">nb_NO</td><td style="text-align:left;">Norwegian</td></tr><tr><td style="text-align:left;">ne</td><td style="text-align:left;">Nepalese</td></tr><tr><td style="text-align:left;">nl</td><td style="text-align:left;">Dutch</td></tr><tr><td style="text-align:left;">nl_BE</td><td style="text-align:left;">Dutch (Belgium)</td></tr><tr><td style="text-align:left;">pl</td><td style="text-align:left;">Polish</td></tr><tr><td style="text-align:left;">pt_BR</td><td style="text-align:left;">Portuguese (Brazil)</td></tr><tr><td style="text-align:left;">pt_PT</td><td style="text-align:left;">Portuguese (Portugal)</td></tr><tr><td style="text-align:left;">ro</td><td style="text-align:left;">Romanian</td></tr><tr><td style="text-align:left;">ru</td><td style="text-align:left;">Russian</td></tr><tr><td style="text-align:left;">sk</td><td style="text-align:left;">Slovakian</td></tr><tr><td style="text-align:left;">sv</td><td style="text-align:left;">Swedish</td></tr><tr><td style="text-align:left;">tr</td><td style="text-align:left;">Turkish</td></tr><tr><td style="text-align:left;">uk</td><td style="text-align:left;">Ukrainian</td></tr><tr><td style="text-align:left;">ur</td><td style="text-align:left;">Urdu</td></tr><tr><td style="text-align:left;">vi</td><td style="text-align:left;">Vietnamese</td></tr><tr><td style="text-align:left;">zh_CN</td><td style="text-align:left;">Chinese</td></tr><tr><td style="text-align:left;">zh_TW</td><td style="text-align:left;">Chinese (Taiwan)</td></tr><tr><td style="text-align:left;">zu_ZA</td><td style="text-align:left;">Zulu (South Africa)</td></tr></tbody></table>
          required: false
          schema:
            type: string
        - in: query
          name: sex
          description: |
            Set `sex` to `male` or `female` to receive sex-specific users
          required: false
          schema:
            type: string
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive an array of objects instead of a single object..

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: address
          description: |
            Set it to a true to receive also address data.
          required: false
          schema:
            type: boolean
        - in: query
          name: finance
          description: |
            Set it to a true to receive also finance data.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          prefix:
                            type: string
                          suffix:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                          fullName:
                            type: string
                          username:
                            type: string
                          sex:
                            type: string
                          gender:
                            type: string
                          avatar:
                            type: string
                            format: url
                          birthday:
                            type: string
                          email:
                            type: object
                            properties:
                              address:
                                type: string
                              password:
                                type: string
                          phone:
                            type: object
                            properties:
                              number:
                                type: string
                              imei:
                                type: string
                          subscription:
                            type: string
                          address:
                            type: object
                            properties:
                              city:
                                type: string
                              country:
                                type: string
                              countryCode:
                                type: string
                              county:
                                type: string
                              state:
                                type: string
                              street:
                                type: string
                              zipCode:
                                type: string
                              timeZone:
                                type: string
                              latitude:
                                type: string
                              longitude:
                                type: string
                          finance:
                            type: object
                            properties:
                              bank:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  number:
                                    type: string
                                  credit:
                                    type: string
                                  currency:
                                    type: string
                                  bic:
                                    type: string
                                  iban:
                                    type: string
                                  pin:
                                    type: string
                              crypto:
                                type: object
                                properties:
                                  bitcoinAddress:
                                    type: string
                                  ethereumAddress:
                                    type: string
                                  litecoinAddress:
                                    type: string
                              creditCard:
                                type: object
                                properties:
                                  issuer:
                                    type: string
                                  number:
                                    type: string
                                  cvv:
                                    type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /vehicle:
    get:
      summary: Provides vehicle related mockup data
      operationId: getMockupVehicle
      description: |
        Generates vehicle mockup data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive an array of objects instead of a single object..

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          manufacturer:
                            type: string
                          vehicle:
                            type: string
                          type:
                            type: string
                          model:
                            type: string
                          fuel:
                            type: string
                          color:
                            type: string
                          vin:
                            type: string
                            description: Vehicle Identification Number
                          vrm:
                            type: string
                            description: Vehicle Registration Mark
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /moviefinder:
    post:
      summary: Finds a movie or show in a country
      operationId: moviefinder
      description: |
        `Public`, `Member` & `Subscriber` Endpoint. API-Key not necessary.

        This endpoint offers 5 movie / show suggestions that most closely match the entered title.

        Supported types: `movie` and `show`

        Supported locales:
        ```
        sq_AL (Albania)
        ar_DZ (Algeria)
        ca_AD (Andorra)
        pt_AO (Angola)
        en_AG (Antigua and Barbuda)
        es_AR (Argentina)
        en_AU (Australia)
        de_AT (Austria)
        az_AZ (Azerbaijan)
        en_BS (Bahamas)
        ar_BH (Bahrain)
        en_BB (Barbados)
        be_BY (Belarus)
        fr_BE (Belgium)
        en_BZ (Belize)
        en_BM (Bermuda)
        es_BO (Bolivia)
        bs_BA (Bosnia and Herzegovina)
        pt_BR (Brazil)
        bg_BG (Bulgaria)
        fr_BF (Burkina Faso)
        en_CM (Cameroon)
        en_CA (Canada)
        pt_CV (Cape Verde)
        ar_TD (Chad)
        es_CL (Chile)
        es_CO (Colombia)
        es_CR (Costa Rica)
        hr_HR (Croatia)
        es_CU (Cuba)
        el_CY (Cyprus)
        cs_CZ (Czech Republic)
        en_DK (Denmark)
        es_DO (Dominican Republic)
        fr_CD (DR Congo)
        es_EC (Ecuador)
        ar_EG (Egypt)
        es_SV (El Salvador)
        es_GQ (Equatorial Guinea)
        et_EE (Estonia)
        en_FJ (Fiji)
        fi_FI (Finland)
        fr_FR (France)
        fr_GF (French Guiana)
        fr_PF (French Polynesia)
        de_DE (Germany)
        en_GH (Ghana)
        en_GI (Gibraltar)
        el_GR (Greece)
        es_GT (Guatemala)
        en_GG (Guernsey)
        en_GY (Guyana)
        es_HN (Honduras)
        zh_HK (Hong Kong)
        hu_HU (Hungary)
        is_IS (Iceland)
        en_IN (India)
        en_ID (Indonesia)
        ar_IQ (Iraq)
        en_IE (Ireland)
        he_IL (Israel)
        it_IT (Italy)
        fr_CI (Ivory Coast)
        en_JM (Jamaica)
        ja_JP (Japan)
        ar_JO (Jordan)
        en_KE (Kenya)
        sq_XK (Kosovo)
        ar_KW (Kuwait)
        lv_LV (Latvia)
        ar_LB (Lebanon)
        ar_LY (Libya)
        de_LI (Liechtenstein)
        lt_LT (Lithuania)
        fr_LU (Luxembourg)
        mk_MK (Macedonia)
        fr_MG (Madagascar)
        en_MW (Malawi)
        en_MY (Malaysia)
        fr_ML (Mali)
        mt_MT (Malta)
        fr_MU (Mauritius)
        es_MX (Mexico)
        ro_MD (Moldova)
        fr_MC (Monaco)
        sr_ME (Montenegro)
        ar_MA (Morocco)
        pt_MZ (Mozambique)
        en_NL (Netherlands)
        en_NZ (New Zealand)
        es_NI (Nicaragua)
        fr_NE (Niger)
        en_NG (Nigeria)
        en_NO (Norway)
        ar_OM (Oman)
        ur_PK (Pakistan)
        ar_PS (Palestine)
        es_PA (Panama)
        en_PG (Papua New Guinea)
        es_PY (Paraguay)
        es_PE (Peru)
        en_PH (Philippines)
        pl_PL (Poland)
        pt_PT (Portugal)
        ar_QA (Qatar)
        ro_RO (Romania)
        ru_RU (Russia)
        en_LC (Saint Lucia)
        it_SM (San Marino)
        ar_SA (Saudi Arabia)
        fr_SN (Senegal)
        sr_RS (Serbia)
        fr_SC (Seychelles)
        en_SG (Singapore)
        sk_SK (Slovakia)
        sl_SI (Slovenia)
        en_ZA (South Africa)
        ko_KR (South Korea)
        es_ES (Spain)
        sv_SE (Sweden)
        de_CH (Switzerland)
        zh_TW (Taiwan)
        sw_TZ (Tanzania)
        en_TH (Thailand)
        en_TT (Trinidad and Tobago)
        ar_TN (Tunisia)
        tr_TR (Turkey)
        en_TC (Turks and Caicos Islands)
        en_UG (Uganda)
        uk_UA (Ukraine)
        ar_AE (United Arab Emirates)
        en_GB (United Kingdom)
        en_US (United States)
        es_UY (Uruguay)
        it_VA (Vatican City)
        es_VE (Venezuela)
        ar_YE (Yemen)
        en_ZM (Zambia)
        en_ZW (Zimbabwe)
        ```

        Supported streaming providers:
        ``` 
        7plus, 9Now, A Spor, A&E, ABC, ABC iview, Acontra Plus, Acontra Plus Amazon Channel, Acorn TV, AcornTV Amazon Channel, Action Max Amazon Channel, Adult Swim, aha, AHCTV, Alamo on Demand, All 4, Alleskino, Alt Balaji, Amazon Arthaus Channel, Amazon DVD / Blu-ray, Amazon Prime Video, Amazon Video, AMC, AMC on Demand, AMC Plus Apple TV Channel , AMC Theatres, AMC+, AMC+ Amazon Channel, AMC+ Roku Premium Channel, Amediateka, Animal Planet, Animax Plus Amazon Channel, Anime Digital Networks, Aniverse Amazon Channel, Apple TV, Apple TV Plus, Argo, ARROW, Arrow Video Amazon Channel, Arte, Arthouse CNMA Amazon Channel, ArthouseCNMA, AsianCrush, Atres Player, AVA BGB, AVA CSAL, AVA HBZ, AVA VOBB, Azteca 7, Band Sports, BBC America, BBC Earth Amazon Channel, BBC iPlayer, BBC Player Amazon Channel, Bbox VOD, Be TV Go, Beamafilm, Behind the Tree, beIN SPORTS, Belas Artes à La Carte, Believe, Benshi Amazon Channel, Bet+, Bet+ Amazon Channel, BFI Player, BFI Player Amazon Channel, BINGE, Bioskop Online, Blim, Blockbuster, Bloody Movies Amazon Channel, blue TV, blutv, BluTV Amazon Channel, Boomerang, Boomerang Amazon Channel, BoxOffice, Bravo TV, BritBox, BritBox Amazon Channel, Britbox Apple TV Channel , British Pathé TV, BroadwayHD, BT Sport, BTV, C More, Canal VOD, Canal+, Canal+ Sport, Cartoon Network, Catchplay, CBC Gem, CBS, CG Collection Amazon channel, Chai Flicks, Chili, CINE, Cine Comico Amazon Channel, Cineasterna, Cinema of Hearts Amazon Channel, Cinemas a la Demande, Cinemax Amazon Channel, CineMember, Cineplex, Cinépolis KLIC, Claro video, Classix, Club Illico, Cohen Media Amazon Channel, Comedy Central, Comedy Central Plus Amazon Channel, CONTAR, CONtv, Cooking Channel, Courtside 1891, Crackle, Crave, Crave Starz, Criterion Channel, Crunchyroll, CTV, Cultpix, Curiosity Stream, CuriosityStream Amazon Channel, Curzon Amazon Channel, Curzon Home Cinema, CW Seed, Dansk Filmskat, Darkmatter TV, Das Erste Mediathek, Daum, DAZN, DAZN Amazon Channel, Dekkoo, Destination America, DIRECTV, DIRECTV GO, Discovery, Discovery Amazon Channel, Discovery Life, Discovery Plus, Discovery Plus Amazon Channel, Discovery Plus Sport Amazon Channel, Disney Plus, DisneyNOW, DIY Network, Dizi Amazon Channel, DocAlliance Films, DocPlay, DOCSVILLE, DocuBay Amazon Channel, Dogwoof On Demand, Dove Channel, Draken Films, DreamWorksTV Amazon Channel, DRTV, dTV, Edisonline, ELEVEN , Elisa Viihde, EPIC ON, Eros Now, Eros Now Amazon Channel, ESPN, ESPN 2, ESPN 3, ESPN 4, ESPN Deportes, ESPN Player, ESPN Plus, Eurosport, Eventive, Exxen, F1TV Pro, Fandor, Fandor Amazon Channel, Fetch TV, FFF tv, Film Movement Plus, Film Total Amazon Channel, Film1, FilmBox Live Amazon Channel, FilmBox+, Filme Filme, filmfriend, Filmin, Filmin Latino, Filmin Plus, filmingo, Filmlegenden Amazon Channel, FILMO, Filmo Amazon Channel, Filmoteket, Filmow, FILMRISE, Filmstriben, Filmtastic, Filmtastic Amazon Channel, Filmzie, Flimmit, Flix Premiere, FlixFling, FlixOlé, FlixOlé Amazon Channel, Flo Rugby, Food Network, Fox, FOX Soccer Plus, Fox Sports, Fox Sports 1, Foxtel Now, France TV, Free - All, Freeform, Freevee, fuboTV, Full Action Amazon Channel, Full Moon Amazon Channel, Funimation Now, FXNow, FXNow Canada, Gameflow TV, genflix, Global TV, Globoplay, Go3, Gol Mundial, Google Play Movies, GOSPEL PLAY, GRJNGO Amazon Channel, GuideDoc, Hallmark Movies, Hallmark Movies Now Amazon Channel, Hallmark TV Amazon Channel, Hayu, Hayu Amazon Channel, HBO Go, HBO Max, HBO Max Amazon Channel, HBO Max Free, Here TV, HGTV, Hi-YAH, HiDive, Historia y Actualidad Amazon Channel, History, History Play, History Vault, HistoryPlay Amazon Channel, Hoichoi, Hollywood Suite, Hollywood Suite Amazon Channel, Home of Horror, Home of Horror Amazon Channel, Hoopla, Hopster TV, Horizon, Horrify, Hotstar, HRTi, Hulu, Hungama Play, iBAKATV, iciTouTV, Icon Film Amazon Channel, IFC Amazon Channel, IFFR Unleashed, iflix, INA madelen Amazon Channel, IndieFlix, Infinity Selection Amazon Channel, Infinity+, Insomnia Amazon Channel, inSports TV, Investigation Discovery, IPLA, iQIYI, IROKOTV, ITV Amazon Channel, ITVX, Ivi, iWantTFC, iWonder Full Amazon channel, izzi, Jio Cinema, Joyn, Joyn Plus, Kanopy, Kino Now, Kino on Demand, Kinopoisk, KinoPop, Kirjastokino, Kividoo, KKTV, Klassiki, Klik Film, Knowledge Network, Kocowa, KoreaOnDemand, KPN, L Equipe, LaCinetek, Las Estrellas, Laugh Out Loud, Libreflix, Lifetime, Lifetime Movie Club, Ligue 1 Amazon Channel, LINE TV, Lionsgate Play, Lionsgate Plus, Logo TV, Looke, Looke Amazon Channel, Love and Passion Amazon Channel, Love Nature Amazon Channel, Magellan TV, Magenta TV, MagentaTV, Magnolia Selects, ManoramaMax, MARCA Claro, Martha Stewart TV, MAX Stream, Maxdome, maxdome Store, Mediaset Infinity, Megabox, meJane, Meo, Metrograph, MGM Amazon Channel, MGM Plus, MGM Plus Amazon Channel, MGM Plus Roku Premium Channel, Mhz Choice, Microsoft Store, Mitele , MLB Network, MLB TV, MLB.TV Amazon Channel, MLS Season Pass, MOLA TV, More Than Sports TV, More TV, Motor Trend, MotorTrend Amazon Channel, Moviedome Plus Amazon Channel, MovieSaints, Movietickets, Movistar Play, Movistar Plus, MTV, MTV Plus Amazon Channel, MUBI, MUBI Amazon Channel, MX Player, My5, MyOutdoorTV, MZ Choice Amazon Channel, Naver Store, NBA League Pass, NBA League Pass Amazon Channel, NBA TV Amazon Channel, NBC, Neon TV, Netflix, Netflix basic with Ads, Netflix Kids, NetMovies, Netzkino, Nexo Plus, NFB, NFL Game Pass, NFL Plus, NHL Network, NHL TV, Night Flight Plus, NLZIET, Noggin Amazon Channel, Noovo, Nova Play, NOW, Now TV, Now TV Cinema, NPO 1, NPO 2, NPO Start, NPO Zapp, NRK TV, O2 TV, OCS Amazon Channel , OCS Go, Oi Play, Okko, Oldflix, OneFootball, Orange VOD, OSN, Otta, OUTtv Amazon Channel, OVID, OXYGEN, OzFlix, Pantaflix, Pantaya, Pantaya Amazon Channel, Paramount Network, Paramount Plus, Paramount Plus Apple TV Channel , Paramount+ Amazon Channel, Paramount+ Roku Premium Channel, Paramount+ Showtime, Pash Amazon Channel, Pass Warner Amazon Channel, Pathé Thuis, Paus, PBS, PBS Kids Amazon Channel, PBS Masterpiece Amazon Channel, Peacock, Peacock Premium, Pickbox NOW, Pickx Sports, Picl, Planet Horror Amazon Channel, Play Sports, Play Suisse, Player, Plex, Pluto TV, Pokémon Amazon Channel, Pongalo Amazon Channel , Popcorn, Popcornflix, Popcorntimes, Popflick, Premier, Premier Sports, PRTV, Public Domain Movies, puhutv, Pure Flix, QFT Player, QubitTV, Rai News, Rai Play, Rai Sport, Rakuten TV, Rakuten Viki, Rambler, Ran, RDS, realeyz, Realeyz Amazon Channel, Redbox, Retrocrush, Revry, RMC Sport, Rooster Teeth, RTBF, RTL Passion Amazon Channel, RTL Play, RTL+, RTPplay, rtve, Runtime, Ruutu, S Sport Plus, Sat 1, SBS On Demand, SBT Sports, Science Channel, Screambox, Screambox Amazon Channel, Serially, SF Anytime, SFR Play, Shadowz, Shadowz Amazon Channel, Shahid VIP, ShemarooMe, ShortsTV Amazon Channel, Shout! Factory Amazon Channel, Shout! Factory TV, ShowMax, Showtime, Showtime Amazon Channel, Showtime Apple TV Channel, Showtime Roku Premium Channel, Shudder, Shudder Amazon Channel, Silverline Amazon Channel, Sixplay, Sky, Sky Go, Sky Sports, Sky Store, Sky X, SkyShowtime, Sling TV Blue, Sling TV Orange, Sling TV Orange and Blue, Sling TV Sports Extra, Smithsonian Channel, Smithsonian Channel Amazon Channel, SN Now, Sony AXN Amazon Channel, Sony Liv, Sooner, South Park, Spamflix, Spectrum On Demand, Sport TV, Sport1, Sport1+, Sportall, Sportdigital, Sportitalia, Sportschau, Spuul, StackTV Amazon Channel, Stan, Star Plus, Starz, Starz Amazon Channel, Starz Apple TV Channel, Starz Play Amazon Channel, Starz Roku Premium Channel, STARZPLAY, Strim, Studiocanal Presents ALLSTARS Amazon Channel, Studiocanal Presents Amazon Channel, STUDIOCANAL PRESENTS Apple TV Channel, Studiocanal Presents MOVIECULT Amazon Channel, STV Player, Sun Nxt, Sundance Now, Sundance Now Amazon Channel, Super Channel Amazon Channel, Superfresh Amazon Channel, SuperTennis, SVT, Syfy, Takflix, Talk Talk TV, Tata Play, TBS, TCM, Tele2 Play, Telenet, TELETOON+ Amazon Channel, Telia Play, Telstra TV, Tenk, Tennis Channel, Tennis TV, tenplay, TF1, The CW, The FA Player, The Film Detective, The Great Courses Signature Collection Amazon Channel, The Oprah Winfrey Network, The Roku Channel, ThreeNow, Timvision, Tivibu, Tivify, TLC, tln, TNT, TNT Sports Go, TNTGo, TOD, TOD TV, Topic, Travel Channel, TriArt Play, TRT SPOR, TRT1, tru TV, True Story, TSN, TSN Plus, TSN1, TSN2, TSN3, TSN4, TSN5, Tubi TV, Tubi TV Sports, TUDN, Turk On Video Amazon Channel, TV 2, TV 2 Play, TV Land, TV8, TVCortos Amazon Channel, TVF Play, TvIgle, TVNZ, tvo, TVPublica, tvzavr, Twitch, TyC Sports, U-NEXT, UAM TV, UCIcinemas, UKTV Play, UMC Amazon Channel, Univer Video, Universal Pictures, Universcine, Universcine Amazon Channel, UPC TV, Urban Movie Channel, URC TV, USA Network, VH1, VI movies and tv, Viaplay, Viaplay Sports, Vice TV , Viddla, Videobuster, Videoland, Vidio, Viewster Amazon Channel, Viu, VIX , Vix+ Amazon Channel, VOD Club, VOD Poland, Volta, Voot, Voyo, VRT MAX, VRV, Vudu, VUDU Free, VVVVID, W4free, W9, WAKANIM, Watcha, Watchbox, wavve, wedotv, WeTV, WOW, WOW Presents Plus, WTA TV, WWE Network, YeloTV, Yle Areena, Yorck on Demand, YouTube, YouTube Free, YouTube Premium, YouTube Sports, Yupp TV, ZDF, ZDF Herzkino Amazon Channel, Zee5, Ziggo TV
        ```
      tags:
        - MovieFinder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                locale:
                  type: string
                  example: en_US
                type:
                  type: string
                  description: movie or show
                  example: movie
                title:
                  type: string
                  description: Title of the movie or show
                  example: The Matrix
              required:
                - locale
                - type
                - title
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                        example: 200
                      message:
                        type: string
                        example: OK
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            locale:
                              type: string
                            country:
                              type: string
                            title:
                              type: string
                            release_year:
                              type: integer
                              format: int32
                            poster:
                              type: string
                              format: base64
                              description: Cover image as base64
                            offers:
                              type: object
                              properties:
                                buy:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the streaming provider
                                      url:
                                        type: string
                                        description: Direct link to the movie/show
                                      retail_price:
                                        type: number
                                        format: float
                                        description: Price of the movie/show
                                      currency:
                                        type: string
                                        description: Currency based on the locale
                                      seasons:
                                        type: integer
                                        format: int32
                                        description: 'Season count, 0 if its a movie'
                                      icon:
                                        type: string
                                        format: base64
                                        description: Icon of the streaming provider in base64
                                rent:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the streaming provider
                                      url:
                                        type: string
                                        description: Direct link to the movie/show
                                      retail_price:
                                        type: number
                                        format: float
                                        description: Price of the movie/show
                                      currency:
                                        type: string
                                        description: Currency based on the locale
                                      seasons:
                                        type: integer
                                        format: int32
                                        description: 'Season count, 0 if its a movie'
                                      icon:
                                        type: string
                                        format: base64
                                        description: Icon of the streaming provider in base64
                                ads:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the streaming provider
                                      url:
                                        type: string
                                        description: Direct link to the movie/show
                                      retail_price:
                                        type: number
                                        format: float
                                        description: Price of the movie/show
                                      currency:
                                        type: string
                                        description: Currency based on the locale
                                      seasons:
                                        type: integer
                                        format: int32
                                        description: 'Season count, 0 if its a movie'
                                      icon:
                                        type: string
                                        format: base64
                                        description: Icon of the streaming provider in base64
                                flatrate:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the streaming provider
                                      url:
                                        type: string
                                        description: Direct link to the movie/show
                                      retail_price:
                                        type: number
                                        format: float
                                        description: Price of the movie/show
                                      currency:
                                        type: string
                                        description: Currency based on the locale
                                      seasons:
                                        type: integer
                                        format: int32
                                        description: 'Season count, 0 if its a movie'
                                      icon:
                                        type: string
                                        format: base64
                                        description: Icon of the streaming provider in base64
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /moviefinder/locales:
    get:
      summary: Gets all supported locales
      operationId: getAllMovieFinderLocales
      description: |
        `Public`, `Member` & `Subscriber` Endpoint. API-Key not necessary.

        This is an endpoint to retrieve all supported locales. 
      tags:
        - MovieFinder
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
[...]
