openapi: 3.0.0
info:
  version: 1.0.1
  title: Wild Devs API
  description: |
    High Performance & High Security API by [Wild-Devs](https://wild-devs.net). 

    <h3>API For Everyone</h3>
    <div style="border: 1px dashed grey; padding: 10px; background-color: #f0f0f0;">
      This API is open for everyone without providing any api-key, but also includes member and subscriber endpoints. For those you need an api-key to query the desired endpoints, they are also marked with a lock in this API documentation.

      You can <a href='https://wild-devs.net/register' target='_blank'>sign up</a> and generate own api key for free, which also increases your rate-limit.
      
      To communicate with some endpoints of our api, you must combine your "key" with your "secret" separated by a colon and encode it with base64. Provide the base64 string as `x-api-key` with the request header.
    </div>

    <h3>Rate-Limits</h3>
    <div style="border: 1px dashed grey; padding: 10px; background-color: #f0f0f0;">
      A rate limit is the number of API calls an app or user can make within a given time period. If this limit is exceeded or if CPU or total time limits are exceeded, the app or user may be throttled. API requests made by a throttled user or app will fail. All API requests are subject to rate limits.
      Our rates are quite fair and divided into 3 categories.

      **All limits last 24h, starting from the first request**

      - Public: **100** requests
      - Member: **300** requests
      - Subscriber: Silver: **2.500** requests
      - Subscriber: Gold: **6.000** requests
      - Subscriber: Platinum: **18.000** requests

      Every endpoint will report the current state of your rate. Following information can be found in the response header:
      
      - x-ratelimit-retry-after
      - x-ratelimit-limit
      - x-ratelimit-remaining
      - x-ratelimit-reset
    </div>

    <h3>Response Formats</h3>
    <div style="border: 1px dashed grey; padding: 10px; background-color: #f0f0f0;">
      We support two response formats:

      In general, all responses are in `JSON` format, **subscribers** also can get them in `XML` format. Just add `xml` as query parameter to the request url.
      
      Example: `https://api.wild-devs.net/v1/geoip/37.120.190.250?xml`
    </div>

    <h3>Support</h3>
    <div style="border: 1px dashed grey; padding: 10px; background-color: #f0f0f0;">
      If you need any support, you can join our <a href='https://discord.wild-devs.net' target='_blank'>Discord</a>. Here, you can connect with other developers who are also using our API and get help with any issues you may be experiencing. Our community is full of knowledgeable developers who are eager to share their expertise and help you succeed. Of course we also offer support via <a href='mailto:support@wild-devs.net'>email</a> or our <a href='https://help.wild-devs.net' target='_blank'>support ticket center</a> and are available to answer your questions.
    </div>
  contact:
    name: API Support
    url: 'https://help.wild-devs.net/'
    email: support@wild-devs.net
servers:
  - url: 'https://api.wild-devs.net/v1'
    description: API Production Server
paths:
  /currency:
    post:
      summary: Convert an amount from one currency to another currency
      operationId: currency
      description: |
        `Subscriber` Only Endpoint. API-Key is needed.

        Supported currencies:
        ```
        AED (United Arab Emirates Dirham)
        AFN (Afghan Afghani)
        ALL (Albanian Lek)
        AMD (Armenian Dram)
        ANG (Netherlands Antillean Guilder)
        AOA (Angolan Kwanza)
        ARS (Argentine Peso)
        AUD (Australian Dollar)
        AWG (Aruban Florin)
        AZN (Azerbaijani Manat)
        BAM (Bosnia-Herzegovina Convertible Mark)
        BBD (Barbadian Dollar)
        BDT (Bangladeshi Taka)
        BGN (Bulgarian Lev)
        BHD (Bahraini Dinar)
        BIF (Burundian Franc)
        BMD (Bermudan Dollar)
        BND (Brunei Dollar)
        BOB (Bolivian Boliviano)
        BRL (Brazilian Real)
        BSD (Bahamian Dollar)
        BTC (Bitcoin)
        BTN (Bhutanese Ngultrum)
        BWP (Botswanan Pula)
        BYN (Belarusian Ruble)
        BZD (Belize Dollar)
        CAD (Canadian Dollar)
        CDF (Congolese Franc)
        CHF (Swiss Franc)
        CLF (Chilean Unit of Account (UF))
        CLP (Chilean Peso)
        CNH (Chinese Yuan (Offshore))
        CNY (Chinese Yuan)
        COP (Colombian Peso)
        CRC (Costa Rican Colón)
        CUC (Cuban Convertible Peso)
        CUP (Cuban Peso)
        CVE (Cape Verdean Escudo)
        CZK (Czech Republic Koruna)
        DJF (Djiboutian Franc)
        DKK (Danish Krone)
        DOP (Dominican Peso)
        DZD (Algerian Dinar)
        EGP (Egyptian Pound)
        ERN (Eritrean Nakfa)
        ETB (Ethiopian Birr)
        EUR (Euro)
        FJD (Fijian Dollar)
        FKP (Falkland Islands Pound)
        GBP (British Pound Sterling)
        GEL (Georgian Lari)
        GGP (Guernsey Pound)
        GHS (Ghanaian Cedi)
        GIP (Gibraltar Pound)
        GMD (Gambian Dalasi)
        GNF (Guinean Franc)
        GTQ (Guatemalan Quetzal)
        GYD (Guyanaese Dollar)
        HKD (Hong Kong Dollar)
        HNL (Honduran Lempira)
        HRK (Croatian Kuna)
        HTG (Haitian Gourde)
        HUF (Hungarian Forint)
        IDR (Indonesian Rupiah)
        ILS (Israeli New Sheqel)
        IMP (Manx pound)
        INR (Indian Rupee)
        IQD (Iraqi Dinar)
        IRR (Iranian Rial)
        ISK (Icelandic Króna)
        JEP (Jersey Pound)
        JMD (Jamaican Dollar)
        JOD (Jordanian Dinar)
        JPY (Japanese Yen)
        KES (Kenyan Shilling)
        KGS (Kyrgystani Som)
        KHR (Cambodian Riel)
        KMF (Comorian Franc)
        KPW (North Korean Won)
        KRW (South Korean Won)
        KWD (Kuwaiti Dinar)
        KYD (Cayman Islands Dollar)
        KZT (Kazakhstani Tenge)
        LAK (Laotian Kip)
        LBP (Lebanese Pound)
        LKR (Sri Lankan Rupee)
        LRD (Liberian Dollar)
        LSL (Lesotho Loti)
        LYD (Libyan Dinar)
        MAD (Moroccan Dirham)
        MDL (Moldovan Leu)
        MGA (Malagasy Ariary)
        MKD (Macedonian Denar)
        MMK (Myanma Kyat)
        MNT (Mongolian Tugrik)
        MOP (Macanese Pataca)
        MRO (Mauritanian Ouguiya (pre-2018))
        MRU (Mauritanian Ouguiya)
        MUR (Mauritian Rupee)
        MVR (Maldivian Rufiyaa)
        MWK (Malawian Kwacha)
        MXN (Mexican Peso)
        MYR (Malaysian Ringgit)
        MZN (Mozambican Metical)
        NAD (Namibian Dollar)
        NGN (Nigerian Naira)
        NIO (Nicaraguan Córdoba)
        NOK (Norwegian Krone)
        NPR (Nepalese Rupee)
        NZD (New Zealand Dollar)
        OMR (Omani Rial)
        PAB (Panamanian Balboa)
        PEN (Peruvian Nuevo Sol)
        PGK (Papua New Guinean Kina)
        PHP (Philippine Peso)
        PKR (Pakistani Rupee)
        PLN (Polish Zloty)
        PYG (Paraguayan Guarani)
        QAR (Qatari Rial)
        RON (Romanian Leu)
        RSD (Serbian Dinar)
        RUB (Russian Ruble)
        RWF (Rwandan Franc)
        SAR (Saudi Riyal)
        SBD (Solomon Islands Dollar)
        SCR (Seychellois Rupee)
        SDG (Sudanese Pound)
        SEK (Swedish Krona)
        SGD (Singapore Dollar)
        SHP (Saint Helena Pound)
        SLL (Sierra Leonean Leone)
        SOS (Somali Shilling)
        SRD (Surinamese Dollar)
        SSP (South Sudanese Pound)
        STD (São Tomé and Príncipe Dobra (pre-2018))
        STN (São Tomé and Príncipe Dobra)
        SVC (Salvadoran Colón)
        SYP (Syrian Pound)
        SZL (Swazi Lilangeni)
        THB (Thai Baht)
        TJS (Tajikistani Somoni)
        TMT (Turkmenistani Manat)
        TND (Tunisian Dinar)
        TOP (Tongan Paanga)
        TRY (Turkish Lira)
        TTD (Trinidad and Tobago Dollar)
        TWD (New Taiwan Dollar)
        TZS (Tanzanian Shilling)
        UAH (Ukrainian Hryvnia)
        UGX (Ugandan Shilling)
        USD (United States Dollar)
        UYU (Uruguayan Peso)
        UZS (Uzbekistan Som)
        VEF (Venezuelan Bolívar Fuerte (Old))
        VES (Venezuelan Bolívar Soberano)
        VND (Vietnamese Dong)
        VUV (Vanuatu Vatu)
        WST (Samoan Tala)
        XAF (CFA Franc BEAC)
        XAG (Silver Ounce)
        XAU (Gold Ounce)
        XCD (East Caribbean Dollar)
        XDR (Special Drawing Rights)
        XOF (CFA Franc BCEAO)
        XPD (Palladium Ounce)
        XPF (CFP Franc)
        XPT (Platinum Ounce)
        YER (Yemeni Rial)
        ZAR (South African Rand)
        ZMW (Zambian Kwacha)
        ZWL (Zimbabwean Dollar)
        ```
      tags:
        - Conversion
      security:
        - ApiKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  example: USD
                to:
                  type: string
                  example: EUR
                amount:
                  type: number
                  format: float
                  example: 192.47
              required:
                - from
                - to
                - amount
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          rate:
                            type: number
                            format: float
                          date:
                            type: string
                            format: YYYY-MM-DD
                          result:
                            type: number
                            format: float
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /unit:
    post:
      summary: Random Number Generator
      operationId: unit
      description: |
        `Subscriber` Only Endpoint. API-Key is needed.

        Supported units are:

        **Length**
        ```
        mm, cm, m, in, ft-us, ft, mi
        ```

        **Area**
        ```
        mm2, cm2, m2, ha, km2, in2, ft2, ac, mi2
        ```

        **Mass**
        ```
        mcg, mg, g, kg, oz, lb, mt, t
        ```

        **Volume** 
        ```
        mm3, cm3, ml, l, kl, m3, km3, tsp, Tbs, in3, fl-oz, cup, pnt, qt, gal, ft3, yd3
        ```

        **Volume Flow Rate**
        ```
        mm3/s, cm3/s, ml/s, cl/s, dl/s, l/s, l/min, l/h, kl/s, kl/min, kl/h, m3/s, m3/min, m3/h, km3/s, tsp/s, Tbs/s, in3/s, in3/min, in3/h, fl-oz/s, fl-oz/min, fl-oz/h, cup/s, pnt/s, pnt/min, pnt/h, qt/s, gal/s, gal/min, gal/h, ft3/s, ft3/min, ft3/h, yd3/s, yd3/min, yd3/h
        ```

        **Temperature**
        ```
        C, F, K, R
        ```

        **Time**
        ```
        ns, mu, ms, s, min, h, d, week, month, year
        ```

        **Frequency**
        ```
        Hz, mHz, kHz, MHz, GHz, THz, rpm, deg/s, rad/s
        ```

        **Speed**
        ```
        m/s, km/h, m/h, knot, ft/s
        ```

        **Pace**
        ```
        s/m, min/km, s/ft, min/km
        ```

        **Pressure**
        ```
        Pa, hPa, kPa, MPa, bar, torr, psi, ksi
        ```

        **Digital**
        ```
        b, Kb, Mb, Gb, Tb, B, KB, MB, GB, TB
        ```

        **Illuminance**
        ```
        lx, ft-cd
        ```

        **Parts-Per**
        ```
        ppm, ppb, ppt, ppq
        ```

        **Voltage**
        ```
        V, mV, kV
        ```

        **Current**
        ```
        A, mA, kA
        ```

        **Power**
        ```
        W, mW, kW, MW, GW
        ```

        **Apparent Power**
        ```
        VA, mVA, kVA, MVA, GVA
        ```

        **Reactive Power**
        ```
        VAR, mVAR, kVAR, MVAR, GVAR
        ```

        **Energy**
        ```
        Wh, mWh, kWh, MWh, GWh, J, kJ
        ```

        **Reactive Energy**
        ```
        VARh, mVARh, kVARh, MVARh, GVARh
        ```

        **Angle**
        ```
        deg, rad, grad, arcmin, arcsec
        ```
      tags:
        - Conversion
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  example: m/s
                to:
                  type: string
                  example: m/h
                amount:
                  type: number
                  format: float
                  example: 10.65
              required:
                - from
                - to
                - amount
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: integer
                        format: int32
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /epicgames/free:
    get:
      summary: Gets the current and next weeks free games
      operationId: getEpicGamesFree
      description: |
        `Subscriber` Only Endpoint. API-Key is needed.
      tags:
        - Games
      security:
        - ApiKey: []
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          currentWeek:
                            type: array
                            items:
                              type: object
                              properties:
                                title:
                                  type: string
                                description:
                                  type: string
                                type:
                                  type: string
                                startDate:
                                  type: string
                                  format: date-time
                                endDate:
                                  type: string
                                  format: date-time
                          nextWeek:
                            type: array
                            items:
                              type: object
                              properties:
                                title:
                                  type: string
                                description:
                                  type: string
                                type:
                                  type: string
                                startDate:
                                  type: string
                                  format: date-time
                                endDate:
                                  type: string
                                  format: date-time
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /address:
    get:
      summary: Provides mockup address related data
      operationId: getMockupAddress
      description: |
        Generates mockup address data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: locale
          description: |
            Supported locales:
            <table><thead><tr><th style="text-align:left;">Locale</th><th style="text-align:left;">Name</th></tr></thead><tbody><tr><td style="text-align:left;">af_ZA</td><td style="text-align:left;">Afrikaans</td></tr><tr><td style="text-align:left;">ar</td><td style="text-align:left;">Arabic</td></tr><tr><td style="text-align:left;">az</td><td style="text-align:left;">Azerbaijani</td></tr><tr><td style="text-align:left;">cz</td><td style="text-align:left;">Czech</td></tr><tr><td style="text-align:left;">de</td><td style="text-align:left;">German</td></tr><tr><td style="text-align:left;">de_AT</td><td style="text-align:left;">German (Austria)</td></tr><tr><td style="text-align:left;">de_CH</td><td style="text-align:left;">German (Switzerland)</td></tr><tr><td style="text-align:left;">el</td><td style="text-align:left;">Greek</td></tr><tr><td style="text-align:left;">en</td><td style="text-align:left;">English</td></tr><tr><td style="text-align:left;">en_AU</td><td style="text-align:left;">English (Australia)</td></tr><tr><td style="text-align:left;">en_AU_ocker</td><td style="text-align:left;">English (Australia Ocker)</td></tr><tr><td style="text-align:left;">en_BORK</td><td style="text-align:left;">English (Bork)</td></tr><tr><td style="text-align:left;">en_CA</td><td style="text-align:left;">English (Canada)</td></tr><tr><td style="text-align:left;">en_GB</td><td style="text-align:left;">English (Great Britain)</td></tr><tr><td style="text-align:left;">en_GH</td><td style="text-align:left;">English (Ghana)</td></tr><tr><td style="text-align:left;">en_IE</td><td style="text-align:left;">English (Ireland)</td></tr><tr><td style="text-align:left;">en_IND</td><td style="text-align:left;">English (India)</td></tr><tr><td style="text-align:left;">en_NG</td><td style="text-align:left;">Nigeria (English)</td></tr><tr><td style="text-align:left;">en_US</td><td style="text-align:left;">English (United States)</td></tr><tr><td style="text-align:left;">en_ZA</td><td style="text-align:left;">English (South Africa)</td></tr><tr><td style="text-align:left;">es</td><td style="text-align:left;">Spanish</td></tr><tr><td style="text-align:left;">es_MX</td><td style="text-align:left;">Spanish (Mexico)</td></tr><tr><td style="text-align:left;">fa</td><td style="text-align:left;">Farsi</td></tr><tr><td style="text-align:left;">fi</td><td style="text-align:left;">Finnish</td></tr><tr><td style="text-align:left;">fr</td><td style="text-align:left;">French</td></tr><tr><td style="text-align:left;">fr_BE</td><td style="text-align:left;">Français (Belgique)</td></tr><tr><td style="text-align:left;">fr_CA</td><td style="text-align:left;">French (Canada)</td></tr><tr><td style="text-align:left;">fr_CH</td><td style="text-align:left;">French (Switzerland)</td></tr><tr><td style="text-align:left;">ge</td><td style="text-align:left;">Georgian</td></tr><tr><td style="text-align:left;">he</td><td style="text-align:left;">Hebrew</td></tr><tr><td style="text-align:left;">hr</td><td style="text-align:left;">Hrvatski</td></tr><tr><td style="text-align:left;">hu</td><td style="text-align:left;">Hungarian</td></tr><tr><td style="text-align:left;">hy</td><td style="text-align:left;">Armenian</td></tr><tr><td style="text-align:left;">id_ID</td><td style="text-align:left;">Indonesian</td></tr><tr><td style="text-align:left;">it</td><td style="text-align:left;">Italian</td></tr><tr><td style="text-align:left;">ja</td><td style="text-align:left;">Japanese</td></tr><tr><td style="text-align:left;">ko</td><td style="text-align:left;">Korean</td></tr><tr><td style="text-align:left;">lv</td><td style="text-align:left;">Latvian</td></tr><tr><td style="text-align:left;">mk</td><td style="text-align:left;">Macedonian</td></tr><tr><td style="text-align:left;">nb_NO</td><td style="text-align:left;">Norwegian</td></tr><tr><td style="text-align:left;">ne</td><td style="text-align:left;">Nepalese</td></tr><tr><td style="text-align:left;">nl</td><td style="text-align:left;">Dutch</td></tr><tr><td style="text-align:left;">nl_BE</td><td style="text-align:left;">Dutch (Belgium)</td></tr><tr><td style="text-align:left;">pl</td><td style="text-align:left;">Polish</td></tr><tr><td style="text-align:left;">pt_BR</td><td style="text-align:left;">Portuguese (Brazil)</td></tr><tr><td style="text-align:left;">pt_PT</td><td style="text-align:left;">Portuguese (Portugal)</td></tr><tr><td style="text-align:left;">ro</td><td style="text-align:left;">Romanian</td></tr><tr><td style="text-align:left;">ru</td><td style="text-align:left;">Russian</td></tr><tr><td style="text-align:left;">sk</td><td style="text-align:left;">Slovakian</td></tr><tr><td style="text-align:left;">sv</td><td style="text-align:left;">Swedish</td></tr><tr><td style="text-align:left;">tr</td><td style="text-align:left;">Turkish</td></tr><tr><td style="text-align:left;">uk</td><td style="text-align:left;">Ukrainian</td></tr><tr><td style="text-align:left;">ur</td><td style="text-align:left;">Urdu</td></tr><tr><td style="text-align:left;">vi</td><td style="text-align:left;">Vietnamese</td></tr><tr><td style="text-align:left;">zh_CN</td><td style="text-align:left;">Chinese</td></tr><tr><td style="text-align:left;">zh_TW</td><td style="text-align:left;">Chinese (Taiwan)</td></tr><tr><td style="text-align:left;">zu_ZA</td><td style="text-align:left;">Zulu (South Africa)</td></tr></tbody></table>
          required: false
          schema:
            type: string
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive multiple data.

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          city:
                            type: string
                          country:
                            type: string
                          countryCode:
                            type: string
                          county:
                            type: string
                          state:
                            type: string
                          street:
                            type: string
                          zipCode:
                            type: string
                          timeZone:
                            type: string
                          latitude:
                            type: string
                          longitude:
                            type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /company:
    get:
      summary: Provides mockup company related data
      operationId: getMockupCompany
      description: |
        Generates mockup company data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive multiple data.

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          name:
                            type: string
                          suffix:
                            type: string
                          catchPhrase:
                            type: string
                          bsPhrase:
                            type: string
                            description: business service phrase
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /finance:
    get:
      summary: Provides mockup finance related data
      operationId: getMockupFinance
      description: |
        Generates mockup finance data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive multiple data.

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          bank:
                            type: object
                            properties:
                              name:
                                type: string
                              number:
                                type: string
                              credit:
                                type: string
                              currency:
                                type: string
                              bic:
                                type: string
                              iban:
                                type: string
                              pin:
                                type: string
                          crypto:
                            type: object
                            properties:
                              bitcoinAddress:
                                type: string
                              ethereumAddress:
                                type: string
                              litecoinAddress:
                                type: string
                          creditCard:
                            type: object
                            properties:
                              issuer:
                                type: string
                              number:
                                type: string
                              cvv:
                                type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /git:
    get:
      summary: Provides mockup git related data
      operationId: getMockupGit
      description: |
        Generates mockup git data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive multiple data.

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          branch:
                            type: string
                          commitEntry:
                            type: string
                          commitMessage:
                            type: string
                          commitShaLong:
                            type: string
                          commitShaShort:
                            type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /internet:
    get:
      summary: Provides mockup internet related data
      operationId: getMockupInternet
      description: |
        Generates mockup internet data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive multiple data.

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          domain:
                            type: string
                          suffix:
                            type: string
                          email:
                            type: string
                          emoji:
                            type: string
                          protocol:
                            type: string
                          url:
                            type: string
                          httpMethod:
                            type: string
                          httpStatusCode:
                            type: string
                          userAgent:
                            type: string
                          ipv4:
                            type: string
                          ipv6:
                            type: string
                          mac:
                            type: string
                          port:
                            type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /product:
    get:
      summary: Provides mockup product related data
      operationId: getMockupProduct
      description: |
        Generates mockup product data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive multiple data.

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          product:
                            type: string
                          name:
                            type: string
                          description:
                            type: string
                          material:
                            type: string
                          color:
                            type: string
                          department:
                            type: string
                          price:
                            type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /user:
    get:
      summary: Provides mockup user related data
      operationId: getMockupUser
      description: |
        Generates mockup user data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: locale
          description: |
            Supported locales:
            <table><thead><tr><th style="text-align:left;">Locale</th><th style="text-align:left;">Name</th></tr></thead><tbody><tr><td style="text-align:left;">af_ZA</td><td style="text-align:left;">Afrikaans</td></tr><tr><td style="text-align:left;">ar</td><td style="text-align:left;">Arabic</td></tr><tr><td style="text-align:left;">az</td><td style="text-align:left;">Azerbaijani</td></tr><tr><td style="text-align:left;">cz</td><td style="text-align:left;">Czech</td></tr><tr><td style="text-align:left;">de</td><td style="text-align:left;">German</td></tr><tr><td style="text-align:left;">de_AT</td><td style="text-align:left;">German (Austria)</td></tr><tr><td style="text-align:left;">de_CH</td><td style="text-align:left;">German (Switzerland)</td></tr><tr><td style="text-align:left;">el</td><td style="text-align:left;">Greek</td></tr><tr><td style="text-align:left;">en</td><td style="text-align:left;">English</td></tr><tr><td style="text-align:left;">en_AU</td><td style="text-align:left;">English (Australia)</td></tr><tr><td style="text-align:left;">en_AU_ocker</td><td style="text-align:left;">English (Australia Ocker)</td></tr><tr><td style="text-align:left;">en_BORK</td><td style="text-align:left;">English (Bork)</td></tr><tr><td style="text-align:left;">en_CA</td><td style="text-align:left;">English (Canada)</td></tr><tr><td style="text-align:left;">en_GB</td><td style="text-align:left;">English (Great Britain)</td></tr><tr><td style="text-align:left;">en_GH</td><td style="text-align:left;">English (Ghana)</td></tr><tr><td style="text-align:left;">en_IE</td><td style="text-align:left;">English (Ireland)</td></tr><tr><td style="text-align:left;">en_IND</td><td style="text-align:left;">English (India)</td></tr><tr><td style="text-align:left;">en_NG</td><td style="text-align:left;">Nigeria (English)</td></tr><tr><td style="text-align:left;">en_US</td><td style="text-align:left;">English (United States)</td></tr><tr><td style="text-align:left;">en_ZA</td><td style="text-align:left;">English (South Africa)</td></tr><tr><td style="text-align:left;">es</td><td style="text-align:left;">Spanish</td></tr><tr><td style="text-align:left;">es_MX</td><td style="text-align:left;">Spanish (Mexico)</td></tr><tr><td style="text-align:left;">fa</td><td style="text-align:left;">Farsi</td></tr><tr><td style="text-align:left;">fi</td><td style="text-align:left;">Finnish</td></tr><tr><td style="text-align:left;">fr</td><td style="text-align:left;">French</td></tr><tr><td style="text-align:left;">fr_BE</td><td style="text-align:left;">Français (Belgique)</td></tr><tr><td style="text-align:left;">fr_CA</td><td style="text-align:left;">French (Canada)</td></tr><tr><td style="text-align:left;">fr_CH</td><td style="text-align:left;">French (Switzerland)</td></tr><tr><td style="text-align:left;">ge</td><td style="text-align:left;">Georgian</td></tr><tr><td style="text-align:left;">he</td><td style="text-align:left;">Hebrew</td></tr><tr><td style="text-align:left;">hr</td><td style="text-align:left;">Hrvatski</td></tr><tr><td style="text-align:left;">hu</td><td style="text-align:left;">Hungarian</td></tr><tr><td style="text-align:left;">hy</td><td style="text-align:left;">Armenian</td></tr><tr><td style="text-align:left;">id_ID</td><td style="text-align:left;">Indonesian</td></tr><tr><td style="text-align:left;">it</td><td style="text-align:left;">Italian</td></tr><tr><td style="text-align:left;">ja</td><td style="text-align:left;">Japanese</td></tr><tr><td style="text-align:left;">ko</td><td style="text-align:left;">Korean</td></tr><tr><td style="text-align:left;">lv</td><td style="text-align:left;">Latvian</td></tr><tr><td style="text-align:left;">mk</td><td style="text-align:left;">Macedonian</td></tr><tr><td style="text-align:left;">nb_NO</td><td style="text-align:left;">Norwegian</td></tr><tr><td style="text-align:left;">ne</td><td style="text-align:left;">Nepalese</td></tr><tr><td style="text-align:left;">nl</td><td style="text-align:left;">Dutch</td></tr><tr><td style="text-align:left;">nl_BE</td><td style="text-align:left;">Dutch (Belgium)</td></tr><tr><td style="text-align:left;">pl</td><td style="text-align:left;">Polish</td></tr><tr><td style="text-align:left;">pt_BR</td><td style="text-align:left;">Portuguese (Brazil)</td></tr><tr><td style="text-align:left;">pt_PT</td><td style="text-align:left;">Portuguese (Portugal)</td></tr><tr><td style="text-align:left;">ro</td><td style="text-align:left;">Romanian</td></tr><tr><td style="text-align:left;">ru</td><td style="text-align:left;">Russian</td></tr><tr><td style="text-align:left;">sk</td><td style="text-align:left;">Slovakian</td></tr><tr><td style="text-align:left;">sv</td><td style="text-align:left;">Swedish</td></tr><tr><td style="text-align:left;">tr</td><td style="text-align:left;">Turkish</td></tr><tr><td style="text-align:left;">uk</td><td style="text-align:left;">Ukrainian</td></tr><tr><td style="text-align:left;">ur</td><td style="text-align:left;">Urdu</td></tr><tr><td style="text-align:left;">vi</td><td style="text-align:left;">Vietnamese</td></tr><tr><td style="text-align:left;">zh_CN</td><td style="text-align:left;">Chinese</td></tr><tr><td style="text-align:left;">zh_TW</td><td style="text-align:left;">Chinese (Taiwan)</td></tr><tr><td style="text-align:left;">zu_ZA</td><td style="text-align:left;">Zulu (South Africa)</td></tr></tbody></table>
          required: false
          schema:
            type: string
        - in: query
          name: sex
          description: |
            Set `sex` to `male` or `female` to receive sex-specific users
          required: false
          schema:
            type: string
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive multiple data.

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: address
          description: |
            Set it to a true to receive also address data.
          required: false
          schema:
            type: boolean
        - in: query
          name: finance
          description: |
            Set it to a true to receive also finance data.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          prefix:
                            type: string
                          suffix:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                          fullName:
                            type: string
                          username:
                            type: string
                          sex:
                            type: string
                          gender:
                            type: string
                          avatar:
                            type: string
                            format: url
                          birthday:
                            type: string
                          email:
                            type: object
                            properties:
                              address:
                                type: string
                              password:
                                type: string
                          phone:
                            type: object
                            properties:
                              number:
                                type: string
                              imei:
                                type: string
                          subscription:
                            type: string
                          address:
                            type: object
                            properties:
                              city:
                                type: string
                              country:
                                type: string
                              countryCode:
                                type: string
                              county:
                                type: string
                              state:
                                type: string
                              street:
                                type: string
                              zipCode:
                                type: string
                              timeZone:
                                type: string
                              latitude:
                                type: string
                              longitude:
                                type: string
                          finance:
                            type: object
                            properties:
                              bank:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  number:
                                    type: string
                                  credit:
                                    type: string
                                  currency:
                                    type: string
                                  bic:
                                    type: string
                                  iban:
                                    type: string
                                  pin:
                                    type: string
                              crypto:
                                type: object
                                properties:
                                  bitcoinAddress:
                                    type: string
                                  ethereumAddress:
                                    type: string
                                  litecoinAddress:
                                    type: string
                              creditCard:
                                type: object
                                properties:
                                  issuer:
                                    type: string
                                  number:
                                    type: string
                                  cvv:
                                    type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /vehicle:
    get:
      summary: Provides mockup vehicle related data
      operationId: getMockupVehicle
      description: |
        Generates mockup vehicle data with several information.
      tags:
        - Mockup
      parameters:
        - in: query
          name: count
          description: |
            Set it to a value greater than `1` to receive multiple data.

            Count is limited to your request method. 

            - Users can set it upto `10`
            - Members & Subscribers can set it upto `1000`
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          manufacturer:
                            type: string
                          vehicle:
                            type: string
                          type:
                            type: string
                          model:
                            type: string
                          fuel:
                            type: string
                          color:
                            type: string
                          vin:
                            type: string
                            description: Vehicle Identification Number
                          vrm:
                            type: string
                            description: Vehicle Registration Mark
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /string:
    post:
      summary: Random String Generator
      operationId: string
      description: |
        Generate random strings for passwords, product keys, vouchers or uuids as identifiers.

        Allowed methods: string, bytes, base32, base62, uuidv4, uuidv5

        Options for method **string**:

        | Key              | Description                                                       |
        | ---------------- | ------------------------------------------------------------------|
        | min              | The minimum length of the string (ignored if length is given)     |
        | max              | The maximum length of the API key (ignored if length is given)    |
        | length           | The length of the string                                          |
        | pool             | The characters used for the string generation                     |
        | batch            | The number of strings to generate                                 |
        | prefix           | A prefix for the string, a period (.) will be added automatically |

        Options for method **bytes**:

        | Key              | Description                                                       |
        | ---------------- | ------------------------------------------------------------------|
        | min              | The minimum length of the string (ignored if length is given)     |
        | max              | The maximum length of the API key (ignored if length is given)    |
        | length           | The length of the string                                          |
        | batch            | The number of strings to generate                                 |
        | prefix           | A prefix for the string, a period (.) will be added automatically |

        Options for method **base32**:

        | Key              | Description                                                       |
        | ---------------- | ------------------------------------------------------------------|
        | dashes           | Adds dashes (-) to the string                                     |
        | batch            | The number of strings to generate                                 |
        | prefix           | A prefix for the string, a period (.) will be added automatically |

        Options for method **base62**:

        | Key              | Description                                                       |
        | ---------------- | ------------------------------------------------------------------|
        | batch            | The number of strings to generate                                 |
        | prefix           | A prefix for the string, a period (.) will be added automatically |

        Options for method **uuidv4**:

        | Key              | Description                                                       |
        | ---------------- | ------------------------------------------------------------------|
        | dashes           | Adds dashes (-) to the string                                     |
        | batch            | The number of strings to generate                                 |
        | prefix           | A prefix for the string, a period (.) will be added automatically |

        Options for method **uuidv5**:

        | Key              | Description                                                       |
        | ---------------- | ------------------------------------------------------------------|
        | name             | A unique name to use for the generation                           |
        | namespace        | The UUID to use for the generation (ignored if batch is given)    |
        | dashes           | Adds dashes (-) to the string                                     |
        | batch            | The number of strings to generate                                 |
        | prefix           | A prefix for the string, a period (.) will be added automatically |
      tags:
        - Random
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                  description: 'Allowed methods are `string`, `bytes`, `base32`, `base62`, `uuidv4`, `uuidv5`'
                  example: bytes
                length:
                  type: integer
                  format: int32
                  minimum: 1
                  maximum: 128
                  description: The length must be between `1` and `128`
                  example: 8
                min:
                  type: integer
                  format: int32
                  minimum: 1
                  description: Must be greater than `0` AND less than or equal to `max`
                  example: 1
                max:
                  type: integer
                  format: int32
                  maximum: 128
                  description: Must be greater than or equal to `1` or `min` AND less than or equal to `128`
                  example: 42
                pool:
                  type: string
                  description: The characters used for the string generation
                  example: ABCDEF123456789
                prefix:
                  type: string
                  description: 'A prefix for the string, a period (.) will be added automatically'
                  example: wd
                batch:
                  type: integer
                  format: int32
                  description: Must be greater than or equal to `1` AND less than or equal to `100`
                  example: 5
                dashes:
                  type: boolean
                  description: Adds dashes (-) to the string
                  example: true
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: string
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /number:
    post:
      summary: Random Number Generator
      operationId: number
      description: Generate random numbers.
      tags:
        - Random
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                min:
                  type: integer
                  format: int32
                  minimum: 1
                  description: Must be greater than `0` AND less than or equal to `max`
                  example: 1
                max:
                  type: integer
                  format: int32
                  maximum: 9007199254740991
                  description: Must be greater than or equal to `1` or `min` AND less than or equal to `9.007.199.254.740.991`
                  example: 42
                batch:
                  type: integer
                  format: int32
                  description: Must be greater than or equal to `1` AND less than or equal to `100`
                  example: 5
              required:
                - min
                - max
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: integer
                        format: int32
                        example: 42
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /urlshorteners:
    get:
      summary: Gets all url shorteners
      operationId: getShortUrls
      description: |
        `Member` & `Subscriber` Endpoint. API-Key is needed.

        Shorten urls are bound to the user who owns the api-key. This is an endpoint to retrieve all these shorten urls.
      tags:
        - UrlShortener
      security:
        - ApiKey: []
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          original_url:
                            type: string
                          short_url:
                            type: string
                          code:
                            type: string
                          clicks:
                            type: integer
                            format: int32
                          created_at:
                            type: string
                            format: date-time
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /urlshortener:
    post:
      summary: Shorts a given URL
      operationId: shortUrl
      description: |
        `Public`, `Member` & `Subscriber` Endpoint. API-Key not necessary.

        If `x-api-key` is supplied, then the short-urls are assigned to the user who owns the api-key. So you can query all short-urls and get more information, like the number of clicks. You can also remove them with the delete endpoint.

        Available shortener domains are: "xfive.de", "xtc5.de"

        If "custom_id" is passed with payload, random id will not be generated and your custom id will be used, if its available.

        Returns the short url.
      tags:
        - UrlShortener
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                original_url:
                  type: string
                domain:
                  type: string
                custom_id:
                  type: string
              required:
                - original_url
                - domain
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: string
                        format: url
                        description: Returns the shorten url
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  '/urlshortener/{id}':
    delete:
      summary: Deletes a given url shortener object.
      operationId: deleteShortUrl
      description: |
        `Member` & `Subscriber` Endpoint. API-Key is needed.
      tags:
        - UrlShortener
      security:
        - ApiKey: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          description: UUID of the shorten url
          required: true
      responses:
        '204':
          description: Null Response
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /compile:
    post:
      summary: Compile code and get the output
      operationId: compile
      description: |
        `Subscriber` Only Endpoint. API-Key is needed.

        Supported languages are: "c", "cpp", "js", "python"

        For each language are some options available:

        **c**
        | Key              | Description                                                   |
        | ---------------- | --------------------------------------------------------------|
        | std              | Sets the standard library for the compilation                 |
        Available **std** values are: "c99", "c11","c17", "c18"                          

        ---

        **cpp**
        | Key              | Description                                                   |
        | ---------------- | --------------------------------------------------------------|
        | std              | Sets the standard library for the compilation                 |
        Available **std** values are: "c++98","c++03", "c++11", "c++14", "c++17"         

        ---

        **python**
        | Key              | Description                                                   |
        | ---------------- | --------------------------------------------------------------|
        | version          | Sets the python version, default is: 3                        |
        Available **version** values are: 2, 3                                           
      tags:
        - Utility
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                language:
                  type: string
                  description: 'Available languages are `c`, `cpp`, `js` and `python`'
                code:
                  type: string
                  format: base64
                  description: Provide the code as base64 string to avoid character escapes.
                std:
                  type: string
                  description: For `C` and `C++` only.
                version:
                  type: integer
                  format: int32
                  description: For `Python` only.
              required:
                - language
                - code
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          source:
                            type: string
                            description: Defines the source of the response. Can be `compiler` or `runtime`
                          result:
                            type: string
                            description: Output of the given code.
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /decode:
    post:
      summary: 'Decode text to base64, utf8, utf16le, hex, ascii and latin1'
      operationId: decode
      description: |
        Decodes given text into various formats

        Allowed **from** values are: base64, utf8, utf16le, hex, ascii and latin1
      tags:
        - Utility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Any string to decode into various formats
                  example: My string to decode
                from:
                  type: string
                  description: 'Define what type your string is -> "base64", "utf8", "utf16le", "latin1", "hex" or "ascii"'
                  example: base64
              required:
                - text
                - from
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
                        type: integer
                        format: int32
                      message:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          base64:
                            type: string
                            format: base64
                          utf8:
                            type: string
                            format: utf8
                          utf16le:
                            type: string
                            format: utf16le
                          latin1:
                            type: string
                            format: latin1
                          hex:
                            type: string
                            format: hex
                          ascii:
                            type: string
                            format: ascii
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '429':
          description: Too Many Requests Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  note:
                    type: string
  /encode:
    post:
      summary: 'Encode text to base64, utf8, utf16le, hex, ascii and latin1'
      operationId: encode
      description: |
        Encodes given text into various formats

        Allowed **from** values are: base64, utf8, utf16le, hex, ascii and latin1
      tags:
        - Utility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Any string to encode into various formats
                  example: My string to encode
                from:
                  type: string
                  description: 'Define what type your string is -> "base64", "utf8", "utf16le", "latin1", "hex" or "ascii"'
                  example: ascii
              required:
                - text
                - from
      responses:
        '200':
          description: Expected Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      status:
                        type: string
                        example: success
                      code:
[...]
